<div class="card card-flip h-100">
    <div class="card-front text-white bg-dark">
        <div class="card-body">
            <i class="fa fa-search fa-5x float-right"></i>
            <h3 class="card-title">{%block front_card_title%}{%endblock%}</h3>
            <p class="card-text">{%block front_card_text%}{%endblock%}</p>
        </div>
    </div>
    <div class="card-back bg-white">
        <div class="card-body">
          <h3 class="card-title">{%block back_card_title%}{%endblock%}</h3>
          <p class="card-text">{%block back_card_text%}{%endblock%}</p>
        </div>
    </div>
  </div>
