{#
PARAMETRES:
  form
#}

{% extends "elements/base.htm" %}

{% block content %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <h1>{{_("S'enregistrer")}}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <div class="alert alert-warning alert-dismissible fade" role="alert">{{ error }}</div>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <div class="alert alert-warning alert-dismissible fade" role="alert">{{ error }}</div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <div class="alert alert-warning alert-dismissible fade" role="alert">{{ error }}</div>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.recaptcha }}
        </p>
        <!--<div class="g-recaptcha" data-sitekey="6Leo2vAUAAAAAHWhJY5Z08lrhUdlq1OKgqh1_Gy_"></div><br/-->
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
