{%extends 'admin/elements/admin_base.htm'%}
{%block content%}
<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">{%include 'admin/modules/admin_home.htm'%}</div>
    {%for menu in admin_menus%}
    <div class="tab-pane fade" id="v-pills-{{menu.name.replace(' ', '_')}}" role="tabpanel" aria-labelledby="v-pills-{{menu.name.replace(' ', '_')}}-tab">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="{{menu.modules[0].name.replace(' ', '_')}}-tab" data-toggle="tab" href="#{{menu.modules[0].name.replace(' ', '_')}}" role="tab" aria-controls="{{menu.modules[0].name.replace(' ', '_')}}" aria-selected="true">{{menu.modules[0].name}}</a>
        </li>
        {%for module in menu.modules[1:]%}
        <li class="nav-item">
          <a class="nav-link" id="{{module.name.replace(' ', '_')}}-tab" data-toggle="tab" href="#{{module.name.replace(' ', '_')}}" role="tab" aria-controls="{{module.name.replace(' ', '_')}}" aria-selected="true">{{module.name}}</a>
        </li>
        {%endfor%}
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="{{menu.modules[0].name.replace(' ', '_')}}" role="tabpanel" aria-labelledby="{{menu.modules[0].name.replace(' ', '_')}}-tab">{%include menu.modules[0].template_location%}</div>
        {%for module in menu.modules[1:]%}
        <div class="tab-pane fade" id="{{module.name.replace(' ', '_')}}" role="tabpanel" aria-labelledby="{{module.name.replace(' ', '_')}}-tab">{%include module.template_location%}</div>
        {%endfor%}
      </div>
    </div>
    {%endfor%}
</div>

{%endblock%}
