<!--#region barre de navigation -->
<nav class="navbar navbar-light bg-light">
  <div>
    <a class="btn btn-primary" href="#" role="button">{{_('Vendre')}}</a>
  </div>

  <img alt="Again"src="{{url_for('static', filename='img/logo-A-big.png')}}" id="logo" style="width:50px;height:50px;"/>

  {%if current_user.is_authenticated%} {# Si l'utilisateur est connecté #}

  <!--#region Bouton liste déroulante Compte utilisateur-->
<div class="btn-group dropdown">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#accountModal"><img class="rounded-circle" style="width:30px;height:30px;" src="{{url_for('static', filename='img/avatar/default-avatar.png')}}"/> {{current_user.username}}</button>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" aria-controls="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu dropdown-menu-right" id="dropdownMenu">
    <a class="dropdown-item" href="#">{#{{_('Paramètres')}}#}Parametres</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{url_for('logout')}}">{{_('Déconnexion')}}</a>
  </div>
</div>
<!--#endregion-->

  {%else%}
  <!--#region Boutons Connexion/S'enregistrer-->
  <div>
  <a class="btn btn-primary" href="{{url_for('login')}}" role="button">{{_('Connexion')}}</a>
  <a class="btn btn-primary" href="{{url_for('registration')}}" role="button">{{_("S'enregistrer")}}</a>
  </div>
  <!--#endregion-->
  {%endif%}

</nav>
<!--#endregion -->

{%if current_user.is_authenticated%} {# Si l'utilisateur est connecté #}
<!--#region Overlay compte avec toutes les cartes -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl"  role="document"> <!--les cartes -->
    <div class="modal-content">
      <div class="modal-body">
        <!--création d'une grille-->
        <br />
        <!--#region ligne 1 -->
        <div class='row'>
          <div class="col-sm-6">
            <!--#region Carte Argent disponible -->
            <div class="card card-flip h-100">
                <div class="card-front text-white bg-dark">
                    <div class="card-body">
                        <i class="fa fa-search fa-5x float-right"></i>
                        <h3 class="card-title">{{_('Porte-monnaie')}}</h3>
                        <p class="card-text">{{_('Consultez votre solde et le montant de vos ventes en attente')}}</p>
                    </div>
                </div>
                <div class="card-back bg-white">
                    <div class="card-body">
                        <h3 class="card-title">{{_('Votre solde')}}</h3>
                        <p class="card-text">{{_('Pas de ventes en attente.')}}</p>
                    </div>
                </div>
              </div>
              <!--#endregion -->
          </div>
          <div class="col-sm-6">
            <!--#region historique Achats -->
            <div class="card h-100">
                    <div class="card-body">
                        <i class="fa fa-search fa-5x float-right"></i>
                        <h3 class="card-title">{{_('Historique Achats')}}</h3>
                        <p class="card-text">{{_('Consultez ici vos commandes passées')}}</p>
                    </div>
              </div>
            <!--#endregion-->
          </div>
        </div>
        <!--#endregion-->
        <br />
        <!--#region ligne 2 -->
        <div class='row'>
          <div class="col-sm-6">
            <!--#region Achats en cours -->
            <div class="card h-100">
                    <div class="card-body">
                        <i class="fa fa-search fa-5x float-right"></i>
                        <h3 class="card-title">{{_('Achats en cours')}}</h3>
                        <p class="card-text">{{_('Consultez ici vos achats en cours')}}</p>
                    </div>
              </div>
            <!--#endregion-->
          </div>
          <div class="col-sm-6">
            <!--#region Ventes en cours -->
            <div class="card h-100">
                    <div class="card-body">
                        <i class="fa fa-search fa-5x float-right"></i>
                        <h3 class="card-title">{{_('Ventes en cours')}}</h3>
                        <p class="card-text">{{_('Consultez ici vos ventes en cours')}}</p>
                    </div>
              </div>
            <!--#endregion-->
          </div>
        </div>
        <!--#endregion-->
        <br />
        <!--#region ligne 3 -->
        <div class='row'>
          <div class="col-sm-4">
            <!--#region Ident. -->
            <div class="card h-100">
              <div class="card-body">
                <i class="fa fa-search fa-5x float-right"></i>
                <h3 class="card-title">{{_('Ident.')}}</h3>
                <p class="card-text">{{_("Description mais je ne sais pas ce que c'est en vrai ^^\'")}}</p>
              </div>
            </div>
            <!--#endregion-->
          </div>
          <div class="col-sm-4">
            <!--#region Adresse -->
            <div class="card h-100">
                    <div class="card-body">
                        <i class="fa fa-search fa-5x float-right"></i>
                        <h3 class="card-title">{{_('Adresse - Aix')}}</h3>
                        <p class="card-text">{{_('Modifiez votre adresse')}}</p>
                    </div>
              </div>
            <!--#endregion-->
          </div>
          <div class="col-sm-4">
            <!--#region Abonnements -->
            <div class="card h-100">
                    <div class="card-body">
                        <i class="fa fa-search fa-5x float-right"></i>
                        <h3 class="card-title">{{_('Abonnements')}}</h3>
                        <p class="card-text">{{_('Gérez vos abonnements')}}</p>
                    </div>
              </div>
            <!--#endregion-->
          </div>
        </div>
        <!--#endregion-->
      </div>
      <br />
    </div>
  </div>
</div>
<!--#endregion-->
{%endif%}
