<nav class="navbar navbar-light bg-light">
  <div>
    <img alt="Again"src="{{url_for('static', filename='img/logo-A-big.png')}}" id="logo" style="width:50px;height:50px;"/>
    <a class="navbar-brand">gain</a>
  </div>
  <div>
  {%if current_user.is_authenticated%}
  {{current_user.username}} <a class="btn btn-secondary" href="{{url_for('logout')}}" role="button">{{_('Deconnexion')}}</a>
  {%else%}
  <a class="btn btn-primary" href="{{url_for('login')}}" role="button">{{_('Connexion')}}</a>
  <a class="btn btn-primary" href="{{url_for('registration')}}" role="button">{{_("S'enregistrer")}}</a>
  {%endif%}
</div>
</nav>
