{#
PARAMETRES:
admin_menus [liste des menus administrateur]
#}

<div class="nav flex-column nav-pills sidebar-sticky" id="v-pills-tab" role="tablist" aria-orientation="vertical"> {# On crée un conteneur pour les étiquettes des menus #}

      {# on crée une première étiquette pour l'accueil, active par défaut #}
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">{{_('Accueil administration')}}</a>

      {%for menu in admin_menus%} {# Pour chaque menu, on crée une étiquette #}
      <a class="nav-link" id="v-pills-{{menu.name.replace(' ', '_')}}-tab" data-toggle="pill" href="#v-pills-{{menu.name.replace(' ', '_')}}" role="tab" aria-controls="v-pills-{{menu.name.replace(' ', '_')}}" aria-selected="false">{{menu.name}}</a>
      {%endfor%}

</div>
