<h1>{{_('Page des produits standarts')}}</h1>
<br/>
<div class="alert alert-info" role="alert">
  {{_("Page encore en construction, soyez rassurés. Elle fonctionne, mais elle est encore loin d'être pratique.")}}
</div>
<div class="row">
  <div class="col-6">
    {%include 'admin/modules/submodules/browse_standarts.htm'%}
  </div>
  <div class="col-6" style="border-width:1px;border-left-style:solid;">
    {%include 'admin/modules/submodules/add_standart.htm'%}

    <!-- arborescence pour selection de la categorie # provisoire -->
    {%for category in categories recursive%}
      {{category.id}} | {{category.name}} <input type="radio" value={{category.id}} name="catselect" onclick="updateCat({{category.id}});" /><br />
      <div style="padding:10px;">{{loop(category.children)}}</div>
    {%endfor%}

  </div>
</div>

<script type="text/javascript">
function updateCat(catId)
{
document.getElementById("category").value = catId;
}
</script>
